.wrapper {
  display: flex;
  width: 100vh;
  height: 90vh;
  min-width: 420px;
  min-height: 540px;
  background-color: rgba(36, 29, 99, 0.904);
  flex-direction: column;
  border-radius: 1vh;
}

.head {
  display: flex;
  width: 100%;
  height: 35%;
  align-items: center;
}

.half_head {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
}
.image {
  height: 100%;
  width: auto;
}

.name {
  font-size: 5vh;
  color: rgb(74, 110, 221);
  margin-bottom: 2vh;
}

.parametrs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}

.parametr {
  font-size: 2.2vh;
  color: rgb(94, 107, 177);
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  width: 100%;
  height: 55%;
  background-color: rgba(183, 0, 58, 0.364)
}

.skill_wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: solid 0.5vh rgb(84, 0, 36);
  border-radius: 1.5vh;
}

.skill {
  font-size: 1.8vh;
  color: rgb(177, 94, 126);
  text-align: center;
}

.train_button {
  width: 40%;
  height: 40%;
  background-color: rgb(84, 0, 36);
  color: rgb(221, 161, 180);
  border-radius: 1vh;
  border: 0;
  font-size: 1.5vh;
  transition: 300ms;
}

.train_button:hover {
  transform: scale(1.05);
}

.buttons {
  display: flex;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: space-around;
}

.change_button {
  width: 20%;
  height: 70%;
  background-color: rgb(27, 2, 59);
  color: rgb(177, 161, 221);
  border-radius: 1vh;
  border: solid rgb(177, 161, 221) 0.3vh;
  font-size: 1.5vh;
  transition: 300ms;
}

.change_button:hover {
  transform: scale(1.05);
}

.export_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 70%;
  background-color: rgb(27, 2, 59);
  color: rgb(177, 161, 221);
  border-radius: 1vh;
  border: solid rgb(177, 161, 221) 0.3vh;
  font-size: 1.5vh;
  transition: 300ms;
  text-decoration: none;
  text-align: center;
}

.export_button:hover {
  transform: scale(1.05);
}

.kick_button {
  width: 20%;
  height: 70%;
  background-color: rgb(84, 0, 36);
  color: rgb(221, 161, 180);
  border-radius: 1vh;
  border: solid rgb(221, 161, 180) 0.3vh;
  font-size: 1.5vh;
  transition: 300ms;
}

.kick_button:hover {
  transform: scale(1.05);
}




